.thaotac {width: 100px;}
.stt {width: 50px;
text-align: center;}
.divPopup {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #31B0D5;
    display: none;
}
/*Form thông báo */
